html, body{
  margin: 0px;
  font-family: 'Open Sans', sans-serif !important;
  height: 100%;
  width: 100%;
  color: #434242;
  font-size: 15px;
  line-height: 1.64;
}
body h1, h2, h3, h4, h5, h6{
  margin-top: 32px;
  margin-bottom: 28px;
  color: #08c;
}
.header-content {
  min-height: 100%;
  overflow: hidden;
}
.header-content .header-bg{
  width: 100%;
  background: url(../images/bg.jpg);
  position: absolute;
  height: 100%;
  background-position: center center;
  background-size: cover;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.header-content .header-txt{
  background: transparent;
  display: inline-block;
  z-index: 5;
  width: 100%;
  text-align: center;
  position: absolute;
  top: calc(50% - 176px);
  color: #ffffff;
}
.header-content .header-txt .head-icon{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 0px auto;
  display: inline-block;
  overflow: hidden;
}
.header-content .header-txt .head-icon img{
  width: 100%;
}
.header-content .header-txt h1{
  font-size: 56px;
  margin: 0px auto;
  padding-bottom: 8px;
  font-weight: 500;
  color: #ffffff;
}
.header-content .header-txt h3{
  font-size: 28px;
  margin-top: 0px;
  display: inline-block;
  border-top: 1px solid #ffffff;
  padding-top: 12px;
  font-weight: 200;
  color: #ffffff;
}
.header-content .cover{
  position: absolute;
  background-color: #000;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: 3;
  top: 0px;
}
.main-content {
  height: auto;
}
.main-content .sub-section{
  background-color: #ffffff;
}
.main-content .sub-section .profile{
  max-width: 1024px;
  margin: 0px auto;
}
.main-content .sub-section h2{
  text-align: center;
  font-size: 48px;
  font-weight: 100;
  color: #08c;
  margin-bottom: 24px;
}
.main-content .sub-section.profile-section h2{
  margin-bottom: 0px;
  margin-top: 72px;
  height: 72px;
}
.main-content .sub-section h5{
  text-align: center;
  font-size: 19px;
  color: #333333;
  margin-top: 0px;
  margin-bottom: 40px;
  font-weight: 100;
  opacity: 0.7;
}
.main-content .sub-section.profile-section .profile-table{
  border-top: 1px solid #e1e1e1;
  padding-top: 48px;
}
.main-content .left{
  float: left;
  width: calc(65% - 88px);
  padding-right: 88px;
  border-right: 1px solid #0088cc;
}
.profile-table .user-col{
  width: 2px;
  float: left;
  height: 100%;
  position: relative;
}
.profile-table .user-col .user-sub-col{
  position: absolute;
    background-color: #08c;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    left: -30px;
}
.profile-table .user-col .user-sub-col span.icon-user-tie{
  font-size: 30px;
  color: #fff;
  line-height: 56px;
}
.left h6, .right h6{
  font-size: 24px;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 18px;
}
.left p{
  text-align: justify;
  font-size: 14px;
  font-weight: 100;
  line-height: 24.6px;
  margin-bottom: 0px;
}
.main-content .right{
  float: left;
  padding-left: 88px;
  width: clac(35% - 88px);
}
.right .row label{
  font-weight: 700;
  margin-bottom: 4px;
  display: block;
}
.right .row .normal-txt{
  font-size: 14px;
  font-weight: 100;
  line-height: 32px;
}
.right .row .normal-txt a.link-email{
  font-size: 14px;
  padding-left: 24px;
}
.right .row .normal-txt a.link-email span{
  position: absolute;
  left: 0px;
  top: 1px;
  color: #0088cc;
  font-size: 16px;
}
.right .row .normal-txt a{
  color: #434242;
  text-decoration: none;
  line-height: 22px;
  position: relative;
}
.right .row .normal-txt a.location-link{
  padding-left: 22px;
  margin-top: 4px;
  font-style: oblique;
}
.right .row .normal-txt a:hover{
  color: #08c;
}
.right .row .normal-txt a.location-link span.icon-location2{
  font-size: 20px;
  position: absolute;
  color: #0088cc;
  left: 0px;
  top: -3px;
}
#hamburger-menu{
  top: 36px;
  left: 70px;
  width: 26px;
  height: 18px;
  z-index: 999;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  color: transparent !important;
}
#hamburger-menu span:nth-child(1) {
    top: 8px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
#hamburger-menu span {
  left: 0;
  opacity: 1;
  height: 4px;
  width: 26px;
  margin-left: 10px;
  display: block;
  position: absolute;
  background: #fff;
  filter: alpha(opacity=70);
  transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -webkit-transition: 0.25s ease-in-out;
}
#hamburger-menu span:nth-child(2) {
  top: 16px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#hamburger-menu span:nth-child(3) {
  top: 24px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#hamburger-menu.open span:nth-child(1), #hamburger-menu.fakeopen span:nth-child(1) {
  top: 7px;
  left: 3px;
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
#hamburger-menu.open span:nth-child(2), #hamburger-menu.fakeopen span:nth-child(2) {
  width: 0%;
  opacity: 0;
  filter: alpha(opacity=0);
}
#hamburger-menu.open span:nth-child(3), #hamburger-menu.fakeopen span:nth-child(3) {
  top: 25px;
  left: 2px;
  transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.float-down-arrow {
  width: auto;
  height: auto;
  font-size: 40px;
  color: #ffffff;
  position: absolute;
  right: 72px;
  z-index: 30;
  top: -moz-calc(100vh - 90px);
  top: -webkit-calc(100vh - 90px);
  top: -o-calc(100vh - 90px);
  top: calc(100vh - 90px);
  animation: 1.2s ease-out 0s normal none infinite running bounce;
  transition: all 0.25s ease-in-out 0s;
}
@keyframes bounce{
  0% {
    transform: translateY(0px);
  }

 50% {
    transform: translateY(-20px);
 }
 100% {
    transform: translateY(0px);
 }
}
.header-content .menu-content{
  left: 0px;
  width: 320px;
  height: 100%;
  position: absolute;
  z-index: 32;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;

}
.header-content .menu-content ul{
  list-style: none;
  display: inline-block;
  padding-left: 20px;
  -webkit-padding-start: 0px;
  top: 120px;
  left: 112px;
  position: absolute;
  z-index: 33;
}
.header-content .menu-content ul li{
  text-decoration: none;
  color: #fff;
}
.header-content .menu-content ul li > a{
  font-size: 24px;
  font-weight: 100;
  color: #fff;
  line-height: 56px;
  text-decoration: none;
}
.header-content .menu-content ul li > a:hover{
  color: #0088cc;
}
.profile-table > p{
  font-size: 16px;
  font-weight: 500;
  margin-top: 48px;
}
.right .btn-container{
  margin-top: 30px;
}
.right .btn-container > a{
  text-decoration: none;
  text-align: center;
  /* padding: 7px 0px; */
  border-radius: 2px;
  width: 160px;
  background-color: #08c;
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
  vertical-align: middle;
  overflow: hidden;
  line-height: 42px;
  height: 40px;
  border: 1px solid #0088cc;
}
.right .btn-container > a:hover{
  background-color: #fff;
  color: #0088cc;
}
.right_cover{
  opacity: 0.5;
}
#profile.profile{
  margin-bottom: 168px;
}
.sub-section.portfolio{
  background-color: #0077b3;
  position: relative;
  padding-top: 32px;
}
.main-content .sub-section.portfolio h2{
  margin-top: 50px;
  color: #ffffff;
}
.main-content .sub-section.portfolio .profile-table{
  font-size: 22px;
  padding-top: 0px;
}
#portfolio::before{
  content: '';
  background: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  margin-left: -25px;
  top: -25px;
  left: 50%;
}
#skills::before{
  content: '';
  background: #0077b3;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  margin-left: -25px;
  top: -25px;
  left: 50%;
}
.portfolio section.regular.slider{
  width: 100%;
  margin: 40px auto;
}
.portfolio .slick-prev::before{
  content: "\e905";
}
.portfolio .slick-next{
  right: -32px;
}
.portfolio .slick-prev{
  left: -32px;
}
.portfolio .slick-next, .portfolio .slick-prev{
  top: calc(50% - 40px);
  width: 40px;
  height: 40px;
}
.portfolio .slick-next::before{
  content: "\e903";
}
.portfolio .slick-prev:before, .portfolio .slick-prev::before, .portfolio .slick-next:before, .portfolio .slick-next::before{
  font-family: 'icomoon' !important;
  color: #0088cc;
}
.portfolio .slider{
  width: 100%;
  margin: auto;
  float: left;
  margin-bottom: 92px;
}
.portfolio .slick-slide.slick-active{
  opacity: 1;
}
.portfolio .slick-slide > div{
  border: 1px solid rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 2px;
  opacity: 1;
  background-color: #fff;
  height: 100%;
  margin: 0px 16px;
}
.portfolio .slider .sub-slider{
  float: left;
  width: calc(32.2% - 64px);
  margin-right: 1.7%;
  padding: 28px 32px 24px 30px;
  background-color: #fff;
  border-radius: 2px;
  height: 408px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}
.main-content .sub-section #portfolio.profile{
  max-width: 1024px;
}
.portfolio .slider :nth-child(3n+3){
  margin-right: 0px;
}
.portfolio .slider .sub-slider p{
  font-size: 14px;
  font-weight: 300;
  line-height: 23px;
  max-height: 220px;
  overflow: hidden;
}
.portfolio .slider .sub-slider > span{
  font-size: 28px;
  width: 52px;
  height: 52px;
  background-color: #0088cc;
  color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 52px;
  border-radius: 50%;
}
.portfolio .slider .sub-slider > a{
  text-decoration: none;
  color: #0077b3;
  position: absolute;
  bottom: 48px;
}
.portfolio .slider .sub-slider > a > span{
  color: #0088cc;
  font-size: 13px;
  font-weight: 500;
  float: left;
}
.portfolio .slider .sub-slider > a > .icon-chevron-thin-right{
  margin-top: 3px;
  font-size: 14px;
  color: #0077b3;
  float: left;
  margin-left: 1px;
}
.portfolio .slider .sub-slider > h1{
  font-size: 22px;
  color: #2f2f35;
  display: block;
  line-height: 26px;
  margin: 26px 0 22px;
}
.portfolio .tech-hover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0;
  transition: all .5s ease 0s;
  -webkit-transition: all .5s ease 0s;
  overflow: hidden;
}
.portfolio .tech-hover > img {
  width: 100%;
  max-width: 100%;
  vertical-align: top;
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.inner-main {
  background: rgba(34,34,34,.8);
  height: 100%;
  left: 0;
  padding: 19px;
  position: absolute;
  top: 0;
  width: 100%;
}
.inner-brd {
  border: 1px solid #fff;
  height: calc(100% - 140px);
  left: 0;
  margin: 19px;
  position: absolute;
  top: 0;
  width: calc(100% - 126px);
  padding: 30px 22px 30px 26px;
}
.inner-main h4 {
  line-height: 26px;
  font-size: 22px;
  color: #0088cc;
  margin-bottom: 28px;
  margin-top: 16px;
}
.inner-main h6 {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 10px;
  margin-top: 22px;
}

.inner-main h4, .listing article h3 {
  text-transform: uppercase;
}
.inner-main ul {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 300;
}
.inner-main ul li {
  margin: 0 0 8px;
  padding: 0;
  position: relative;
  color: #fff;
  list-style-position: inside;
}
.inner-main .inner-brd > a{
  color: #fff;
  text-decoration: none;
}
.inner-main .inner-brd > span{
  color: #fff;
  margin-top: 30px;
  display: inline-flex;
}
.inner-main ul li:after {
  position: absolute;
  left: 0;
  top: 8px;
  font-size: 18px;
  background: #fff;
  width: 5px;
  height: 5px;
  border-radius: 100%;
}
.portfolio .tech-hover:hover, .portfolio .tech-hover:hover:before {
  opacity: 1;
  transition: all .5s ease 0s;
  -webkit-transition: all .5s ease 0s;
}

@keyframes fadeInUp{
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.main-content .sub-section.skills{
  background-color: #f3f2f1;
  padding-top: 32px;
  position: relative;
}
.main-content .sub-section.skills h2{
  margin-top: 50px;
  margin-bottom: 0px;
}
.main-content .sub-section.skills .profile-table{
  padding-bottom: 72px;
}
.sub-skills h6{
  font-size: 22px;
  font-weight: 100;
  margin-bottom: 8px;
}
hr {
  margin: 40px 0px 48px;
  border-top: 1px solid #d1d1d1;
}
.sub-skills .section-row ul{
  list-style: none;
  margin-left: 0px;
  -webkit-margin-before: 0px;
  -webkit-padding-start: 0px;
}
.sub-skills .section-row ul li{
  width: calc(50% - 60px);
  padding-left: 28px;
  position: relative;
  float: left;
  padding-right: 32px;
  height: 32px;
  line-height: 32px;
}
.sub-skills .section-row ul li a{
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  color: #434242;
}
.sub-skills .section-row ul li:nth-child(2n){
  padding-left: 120px;
  width: calc(50% - 158px);
}
.sub-skills .section-row ul li a:hover{
  color: #0088cc;
}
.sub-skills .section-row ul li span.skill-label{
  font-size: 16px;
  font-weight: 300;
}
.sub-skills .section-row ul li:hover span.skill-label{
  color: #000000;
}
.sub-skills .section-row ul li:nth-child(2n) span.skill-star{
  right: 28px;
}
.sub-skills .section-row ul li span.skill-star{
  position: absolute;
  right: 64px;
  color: #0088cc;
  font-size: 18px;
}
.sub-skills .section-row ul li span.skill-star > span{
  transition: all 0.3s;
  font-size: 18px;
}
.sub-skills .section-row ul li:hover span.skill-star > span{
  font-size: 20px;
}